.left {
  height: 100vh;
  width: 33.33%;
  float:left;
  background: #4a90e2;
}

.middle {
  height: 100vh;
  width: 33.33%;
  float:left;
  background: #50e3c2;
}

.right {
  height: 100vh;
  width: 33.33%;
  float:left;
  background: #b8e986;
}

.bottom-corner {
  width: 33.33%;
  height: 25vh;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #d0021b;
  text-align: center;
  padding: 10vh 0;
}

.bottom-corner p {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 2em;
}
